* {
  display: block;
  margin: 5px;
}
input[type="text"] {
  font-weight: bold;
}
label {
  font-weight: bold;
}
input[type="submit"] {
  color: green;
  border-radius: 25px;
  padding: 5px;
  /*border-color: red;*/
  /*border: 0.5px solid red;*/
}
